name: Documentation Preview

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    permissions:
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    environment:
      name: pr-${{github.event.number}}
      url: https://juliauq.github.io/UncertaintyQuantification.jl/previews/PR${{github.event.number}}
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1.11"
      - name: Build and deploy
        env:
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: ./scripts/buildVitePressDocs.sh
